.menu {
  display: none;
}

.menu__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fffff6;
}

.menu__btn {
  width: 40px;
  height: 40px;
  background-image: url(../img/icons/menu.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px 30px;
}

.mm-navbar__btn,
.mm-navbar__title,
.mm-panel {
  background-color: #fffff6 !important;
}

.menu__phone {
  display: block;
  font-family: "Roboto Slab", serif;
  font-size: 19px;
  font-weight: 300;
  color: #000;
}

//-----------------------------
@media (min-width: 768px) {
  .menu {
    display: block;
    background-color: #fffff6;
  }
  
  #menu,
  .menu__btn,
  .menu__phone {
    display: none;
  }
  
  .menu__list {
    position: static;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .menu__item {
    position: relative;
    flex-grow: 1;
    background-color: #fffff6;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    transition: ease-out 0.3s;

    &:hover,
    &:active,
    &--active {
      background-color: #fafae5;
      transition: ease-out 0.3s;
    }
    
    &:hover,
    &:active {
      .menu__sublist {
        display: block;
      }
    }
  }
  
  .menu__link {
    display: block;
    padding: 0.8rem 1.6rem;
    text-transform: uppercase;
    text-align: center;
    color: #000;
    
    &--arrow {
      position: relative;
      
      &::after {
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: 0.3em;
        vertical-align: middle;
        content: "";
        border-top: 0.3em solid;
        border-right: 0.3em solid transparent;
        border-left: 0.3em solid transparent;
      }
    }
  }
  
  .menu__sublist {
    position: absolute;
    display: none;
    padding: 0;
    margin: 0;
    list-style: none;
    z-index: 100;
    top: 100%;
    left: 0;
    min-width: 100%;
    background-color: #fff;
  }
  
  .menu__subitem {
    transition: ease-out 0.3s;

    &:hover,
    &:active,
    &--active {
      background-color: #fafae5;
      transition: ease-out 0.3s;
    }
  }
  
  .menu__subitem a {
    display: block;
    padding: 5px 15px;
    color: #000;
  }
}
