.promo__slide {
  position: relative;
  z-index: 2;
  box-sizing: border-box;
  height: 232px;
  padding-top: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.2);
  }
}

.promo__logo {
  width: 87px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 70px;
  
  img {
    display: block;
  }
}

.promo__title {
  margin: 0;
  font-family: "Roboto Slab", serif;
  font-weight: 100;
  font-size: 24px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  text-align: center;
}

.promo__control {
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.promo__prev,
.promo__next {
  position: relative;
  top: -1px;
  outline: none;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  color: #fff;
  font-size: 20px;
  text-align: center;
  line-height: 20px;
  background-image: none;
}

.promo__pagination {
  position: static;
  margin: 0 5px;
  
  .swiper-pagination-bullet {
    opacity: 1;
    width: 10px;
    height: 10px;
    margin: 0 5px !important;
    border-radius: 50%;
    border: 2px solid #fff;
    background-color: rgba(255,255,255,0);
    outline: none;
  }
  
  .swiper-pagination-bullet-active {
    background-color: rgba(255,255,255,0.5);
  }
}

//-----------------------------
@media (min-width: 1024px) {
  .promo__slide {
    height: 309px;
    padding-top: 30px;
  }
  
  .promo__title {
    font-size: 32px;
    line-height: 1.2;
  }
  
  .promo__logo {
    width: 116px;
    margin-bottom: 100px;
  }
}

//-----------------------------
@media (min-width: 1140px) {
  .promo__slide {
    height: 387px;
    padding-top: 35px;
  }
  
  .promo__title {
    font-size: 40px;
  }
  
  .promo__logo {
    width: 145px;
    margin-bottom: 130px;
  }
}

//-----------------------------
@media (min-width: 1600px) {
  .promo__slide {
    height: 580px;
    padding-top: 55px;
  }
  
  .promo__title {
    font-size: 60px;
  }
  
  .promo__logo {
    width: 218px;
    margin-bottom: 190px;
  }
}
