.service {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #F3F3F3;
}

.service__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.service__item {
  margin-bottom: 40px;
}

.service__img {
  width: 100%;
  
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.service__info {
  padding-left: 20px;
  color: #000;
  
  ul {
    max-width: 100%;
    padding: 0;
    padding-left: 40px;
    margin: 0;
    margin-bottom: 16px;
    list-style: disc;
  }
}

//-----------------------------
@media (min-width: 480px) {
  .service__link {
    display: flex;
    justify-content: space-between;
  }
  
  .service__img {
    width: 40%;
  }
  
  .service__info {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .service__btn {
    margin-top: auto;
  }
}

//-----------------------------
@media (min-width: 768px) {
  .service__item {
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
    word-break: break-word;
  }
  
  .service__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
