.wrapper {
  width: 100%;
  min-width: 290px;
  max-width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

//-----------------------------
@media (min-width: 1024px) {
  .wrapper--columns {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  
  .wrapper__content {
    width: 75%;
    padding-left: 15px;
  }
}
